<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--Connection string must be declared in WPF project, because this is the UI project which uses EF to connect to DB-->
	<connectionStrings>
		<add name="FundContext"
			 connectionString="server=(localdb)\MSSQLLocalDB;initial catalog=InvestmentMasterDb;integrated security=true;MultipleActiveResultSets=True"/>
	</connectionStrings>
</configuration>